<div class="footer-part-box">
    <div class="footer-part">
        {{ 'TEXTS.ABOUT' | translate }}
    </div>
    <div class="footer-part">
    </div>
    <div class="footer-part">
        <div>
            <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
            <a href="https://github.com/MISAN-MS/swaggerGUI" target="_blank">{{ 'GIT_HUB_LINK' | translate }}</a>
        </div>
        <div>
            <fa-icon [icon]="['fas', 'at']" size="2x"></fa-icon>
            <a href="https://misan.net.pl" target="_blank">{{ 'AUTHOR_LINK' | translate }}</a>
        </div>
        <div>
            <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
            <a href="mailto:kontakt@misan.net.pl">{{ 'AUTHOR_EMAIL_LINK' | translate }}</a>
        </div>
    </div>
</div>
